<nav>
  <ul class="pagination">

    <!-- Custom Attribute Directive demo -->
  <!-- approach 1 -->
  <!-- <h4 appClass [classNames]="{ disabled: currentPage === 0 }">{{ images[currentPage].title }}</h4> -->
  
  <!-- approach 2 -->
  <!-- we can also write something like this -->
  <!-- <li [appClass]="{ disabled: currentPage === 0 }">xyz</li> -->
  <!-- in this case, we have to change the classNames variable in component class to appClass -->
  <!-- this syntax essentially uses the appClass Directive and also sets the appClass variable at the same time -->
  <!-- like a normal Attribute Directive Syntax -->

  <!-- approach 3 -->
  <!-- with Input Alias in component class -->

  <!-- [appClass] is replicating [ngClass] here -->
    <li class="page-item"
    [appClass]="{ disabled: currentPage === 0 }"  
    >
      <a (click)="currentPage = currentPage - 1" class="page-link">Previous</a>
    </li>

    

    <ng-container *ngFor="let image of images; index as i;">
      <li class="page-item" 
      [ngClass]="{ active: i === currentPage }" 
      *ngIf="checkWindowIndex(i)">
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>

    <li class="page-item"
    [appClass]="{ disabled: currentPage === images.length - 1}"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    Current page is 0
  </div>
  <div *ngSwitchCase="1">
    Current page is 1
  </div>
  <div *ngSwitchCase="3">
    Current page is 2
  </div>
  <div *ngSwitchDefault>
    Unknown page
  </div>
</div>

<div>
  <h4>{{ images[currentPage].title }}</h4>

  <img [src]="images[currentPage].url" />
</div>


<!-- Custom Structural Directive demo, repleace *ngFor with *appTimes -->
<ul *appTimes="images.length; let i = index; let c = color">
  <li>Hi there! + {{ c }}</li>
</ul>
